* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bd98db, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #184b63, rgb(146, 200, 204)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header > img {
  height: 90%;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
  text-align: center;
}

.meme > img {
  width:80%;
  height:auto;
  background: cover;
  background-repeat: no-repeat;
}

.meme > h2 {
  position: absolute;
  max-width: 80%;
  text-align: center;
  left: 49%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 0px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 10px;
}

.meme > .top {
  top: 10px;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: inline-block;
  justify-content: space-between;
}

.meme-form > input {
  border: 2px solid ;
  border-radius: 5px;
  margin-left:65px;
  display:block;
  width: 50%;
  height: 40px;
}

.meme-form > button {
  height:50px;
  width:170px;
  margin-top:10px;
  margin-left:65px;
  border:3px rgb(221, 210, 210) solid;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: rgb(35, 86, 134);
}

.meme-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-family: VT323, monospace;
font-size: 25px;
text-align: left
}
.meme-form > input::-moz-placeholder { /* Firefox 19+ */
font-family: VT323, monospace;
font-size: 25px;
text-align: left
}
.meme-form > input:-ms-input-placeholder { /* IE 10+ */
font-family: VT323, monospace;
font-size: 25px;
text-align: left
}
.meme-form > input:-moz-placeholder { /* Firefox 18- */
font-family: VT323, monospace;
font-size: 25px;
text-align: left
}